/* stylelint-disable csstree/validator */

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
}

#about-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  position: absolute;
}

/* nav */
.mobile-menu {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.material-icons.hamburger {
  font-size: calc(5vw + 2vw);
  color: #5b606c;
  width: fit-content;
  margin: 2vw 5vw;
}

.desktop-menu {
  display: none;
}

.mobile-menu-up {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vw;
  width: 90%;
  height: 100%;
}

.mobile-head-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: rgba(91, 96, 108, 0.2) 1px solid;
}

.mobile-nav-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: clamp(1rem, 3vw, 2.2rem);
  padding: 0;
  margin-top: 10vw;
}

a {
  text-decoration: none;
  color: #5b606c;
}

.home-li {
  color: #ec5242;
  font-weight: bold;
}

.box-item {
  color: #ec5242;
  border: #ec5242 2px solid;
  padding: 1vw;
}

.logo {
  width: 10%;
}

/* work section */
#concert {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15vw 5vw 18vw;
}

.concert-h2 {
  font-family: 'Candal', sans-serif;
  color: #ec5242;
  max-width: 100%;
  font-size: clamp(0.5rem, 7vw, 3.2rem);
  margin: 0;
  white-space: nowrap;
  text-align: center;
}

.concert-description,
.concert-contact {
  color: #5b606c;
  font-family: 'Lato', sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  line-height: 5vw;
  margin: 6vw 0 0;
  text-align: center;
}

.concert-description {
  border: solid 1px rgba(91, 96, 108, 0.2);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2vw;
}

.concert-contact {
  margin: 8vw 10vw 0;
}

.concert-email {
  color: #5b606c;
  font-family: 'Lato', sans-serif;
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}

/* logo explanation section */
#logo-explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw 5vw 10vw;
}

.logo-h2,
.past-h2,
.partners-h2 {
  color: #5b606c;
  font-family: 'Lato', sans-serif;
  font-size: clamp(0.8rem, 3vw, 1.3rem);
  letter-spacing: 2px;
  text-align: center;
  margin: 8vw;
  padding-bottom: 2vw;
  border-bottom: #ec5242 2px solid;
}

.partners-h2 {
  color: white;
  margin: 0;
}

.logo-description,
.past-description {
  color: #5b606c;
  font-family: 'Lato', sans-serif;
  font-size: clamp(0.8rem, 2.5vw, 1.4rem);
  line-height: 5vw;
  margin: 0 10vw 10vw;
  text-align: center;
}

.logo-ex {
  border: solid 1px rgba(91, 96, 108, 0.2);
  padding: 1vw 22vw;
  width: 30%;
}

/* past concert sections */
#past-concerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7vw 5vw;
  border-top: rgba(91, 96, 108, 0.2) 1px solid;
}

.past-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 5vw;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 90vw;
}

.past-concert1,
.past-concert2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  height: 50vw;
}

.past-concert1 {
  background-image: linear-gradient(rgba(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7)), url(../images/outdoor-concerts-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.past-concert2 {
  background-image: linear-gradient(rgba(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7)), url(../images/outdoor-concerts-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.past-concert-h3 {
  font-size: clamp(1.7rem, 5vw, 5rem);
  margin: 0;
}

.past-concert-p {
  font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}

/* partners section */
#partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8vw;
  padding: 5vw 5vw 10vw;
  background-color: #5b606c;
}

.partners-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5vw;
}

/* footer */
#about-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw 10vw;
}

.footer-list {
  display: flex;
  gap: 10vw;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 70vw;
}

.logo-li {
  width: 10vw;
  justify-self: center;
}

.logo-footer {
  width: 15vh;
}

.p-footer {
  color: #5b606c;
  font-family: 'Lato', sans-serif;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: lighter;
  width: 45vw;
}

@media screen and (min-width: 768px) {
  /* desktop menu */
  .mobile-menu {
    display: none;
  }

  .close {
    display: none;
  }

  .desktop-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 10vh;
  }

  .logo {
    width: 10vh;
  }

  .desktop-logo {
    width: 30%;
  }

  .nav-list-container {
    display: flex;
    align-items: center;
    gap: 3vw;
    list-style-type: none;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  a {
    text-decoration: none;
    color: #5b606c;
  }

  /* concert section */
  #concert {
    height: 90vh;
    padding: 10vh 5vw;
  }

  .concert-contact {
    margin-top: 3vw;
  }

  .concert-description {
    width: 65vw;
    height: fit-content;
  }

  /* past section */
  .logo-h2 {
    white-space: nowrap;
  }

  .past-list {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 70vw;
    gap: 1.5vw;
  }

  .past-concert1,
  .past-concert2 {
    width: 50vw;
    height: 20vw;
  }

  .past-concert-h3 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
  }

  .past-concert-p {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
  }

  /* parter section */
  #partners-container {
    display: none;
  }

  /* footer */
  #about-footer-container {
    background-color: #5b606c;
  }

  .p-footer {
    color: #fff;
  }
}
